---
layout: default
---

{{ content }}
{% assign contentwonl = content | strip_newlines %}
{% unless contentwonl == "" %}
  <br />
{% endunless %}

Контент содержит численные исследования финансового и экономического характера, проливающие свет на закономерности поведения биржевых цен в различных временных масштабах.
<br><br>

{% if site.posts.size > 0 %}
  {% assign date_format = "%Y-%m-%d" %}
  {% for post in site.posts | sort: 'date' | reverse limit:3 %}
    <div>
      <time datetime="{{ post.date | date: date_format }}">[{{ post.date | date: date_format }}]</time>
      <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </div>
  {% endfor %}
{% endif %}
